/* .content {
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: var(--color-background);
  height: 700px;
  min-height: 650px;
} */

/* .bird-description {
  max-width: 1240px;
  padding-right: 20px;
}

@media (min-width: 769px) {
  .content {
    padding: 20px 50px;
    min-height: 300px;
  }
  h2 {
    font-weight: 500;
    padding-bottom: 20px;
  }
  img {
    width: 400px;
    padding-bottom: 20px;
  }

  .bird-description_text {
    font-size: 1.1rem;
    line-height: 175%;
    padding-bottom: 15px;
    font-weight: 300;
  }
} */
