:root {
  --color-primary: #e29300;
  --color-secondary: #2d451b;
  --color-background: #eee9dd;
  --color-text: #210e08;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  max-width: 1800px;
  margin: auto;
}

ul {
  list-style: none;
  width: fit-content;
}

/* MOBILE HEADER SETTINGS */
.header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 100%;

  position: sticky;
  top: 0;
}

.header-navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-logo img {
  height: 40px;
  width: auto;
}

.header-navigation {
  display: flex;
  flex: 1;
  justify-content: right;
}

/* MOBILE NAVIGATION SETTINGS */
.menu-bar.desktop {
  display: none;
}

.menu-bar.mobile {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0 5px;
  margin: 0;
  /* background-color: orange; */
  overflow: hidden;
}

.menu-bar.mobile li {
  flex: 1;
  text-align: center;
  max-width: 80px;
}

.menu-bar.mobile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.menu-bar.mobile img {
  height: 30px;
  width: auto;
  /* margin: 0 8px; */
  /* margin-bottom: 5px; */
}

.menu-bar.mobile li:nth-child(4) img {
  margin-right: 0;
}

/* MOBILE  MAIN */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-toggle {
  display: block;
  width: 100%;
  background: #0b3d2e;
  color: var(--color-background);
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
}

.sidebar {
  padding: 20px;
  display: none;
  width: 100%;
  background-color: var(--color-secondary);
  min-height: 300px;
  color: var(--color-background);
}

.sidebar-title {
  font-weight: 300;
  font-size: 1.4rem;
  padding-top: 30px;
  padding-bottom: 15px;
}

.sidebar-links {
  font-weight: 300;
  font-size: 1.15rem;
  padding: 10px;
}

.sidebar-links:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.sidebar-link-active {
  font-weight: 400;
  color: var(--color-primary);
}

.content {
  flex: 1;
  padding: 20px;
  background-image: linear-gradient(#2d451b, #00000000),
    url(../assets/bg-image/home-page-background.png);
  background-position-y: 20%;
  background-position-x: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.content-button {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 10px 30px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.sidebar.open {
  display: block;
}

.animate {
  transform: rotate(180deg);
}

/* MOBILE FOOTER */
.footer {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 15px;
  flex-direction: column;
  gap: 20px;

}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.footer-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.footer-description {
  font-size: 1.4rem;
  font-weight: 400;
  width: 95%;
  max-width: 400px;
  margin: auto;
}

.footer-social {
  text-align: center;
  padding-top: 15px;
}

.footer-social img {
  display: inline-block;
  width: 48px;
  height: auto;
  padding: 12px 12px 12px 0;
}

.footer-copyright {
  padding-bottom: 30px;
}

@media (min-width: 390px) {
  .header-logo img {
    height: 60px;
  }

  .menu-bar.mobile img {
    height: 45px;
    width: auto;
    margin: 0 8px;
    margin-bottom: 5px;
  }
}

@media (min-width: 769px) {

  /* DESKTOP HEADER SETTINGS */
  h3 {
    font-weight: 500;
  }

  .header {
    padding: 0 40px 5px 40px;
  }

  .header-logo img {
    height: 84px;
  }

  /* DESKTOP NAVIGATION SETTINGS */
  .menu-bar.mobile {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
  }

  .menu-bar.desktop {
    display: flex;
    /* justify-content: left; */
    max-width: 500px;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  .menu-bar.desktop li {
    list-style: none;
    flex: 1;
    text-align: center;
    margin-right: 2px;
  }

  .menu-bar.desktop a {
    margin: 0;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.2s;
    background-size: 200% auto;
    color: var(--color-text);
    border-radius: 8px;
    display: block;
    text-decoration: none;
  }

  .menu-bar.desktop a:hover {
    font-weight: 400;
    color: var(--color-background);
  }

  .menu-bar.desktop a:active {
    font-weight: 400;
    color: var(--color-background);
  }

  /* MAIN SETTINGS */
  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 100%;
  }

  .sidebar-toggle {
    display: none;
  }

  .sidebar {
    display: block;
    min-width: 240px;
    max-width: 280px;
    min-height: 100%;
  }

  .content {
    height: auto;

  }

  /* DESKTOP FOOTER SETTINGS */
  .footer {
    /* background-color: var(--color-primary);
    color: var(--color-text); */
    /* text-align: center; */
    padding: 40px 20px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 30px;
  }

  .footer-logo img {
    width: 180px;
    height: auto;
  }

  .footer-information {
    /* display: flex; */
    /* flex-direction: column; */

    /* justify-content: center; */
    /* text-align: left; */
    /* align-items: flex-start; */
    /* width: 100%; */
    max-width: 1300px;
    column-gap: 20px;
    text-align: left;
  }

  .footer-details {
    justify-content: space-between;
    flex-direction: row;
    column-gap: 20px;
  }

  .footer-description {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 280px;
    margin: 0;
  }

  .footer-working-hours p {
    margin-top: 15px;
    line-height: 175%;
  }

  .footer-address {
    line-height: 175%;
  }

  .footer-address p:nth-of-type(2) {
    line-height: 175%;
    padding: 15px 0;
  }

  .footer-social img {
    width: 52px;
  }

  .footer-copyright {
    padding: 42px;
  }

  @media (min-width: 1200px) {
    .footer-details {
      column-gap: 100px;
    }

    .footer-description {
      /* font-weight: 500; */
      max-width: 400px;
      font-size: 1.8rem;
    }
  }
}