/*HOMEPAGE RELATED CSS*/
li {
  list-style: none;
}

.active {
  font-weight: 400;
  color: var(--color-primary);
}

.image-container {
  overflow: hidden;
}

.image {
  height: auto;
  object-fit: contain;
  width: 100%;
  max-width: 650px;
}

.animal-content {
  background-image: none;
  background-color: var(--color-background);
}

.container {
  padding: 0.5rem 1rem;
  display: none;
}

.box {
  color: var(--color-text);
  padding: 1rem;
}

.box p {
  margin: 0.5rem 0rem;
}

.box h2{
  padding: 15px 0px;
}

.box
h4 {
  margin: 0.5rem 0rem;
  font-size: 1rem;
}

.button {
  display: inline-block;
  text-decoration: none;
}

.show,
.open {
  display: block;
}

.welcome-message {
  color: var(--color-background);
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 400;
}

.welcome-message-subheading{
  text-align: center;
  font-weight: 300;
  color: var(--color-primary);

}

@media (min-width:769px) {

  .box
  h4 {
    font-size: 1.1rem;
  }

}