/*HOMEPAGE RELATED CSS*/
li {
  list-style: none;
}
.active {
  font-weight: 400;
  color: var(--color-primary);
}

.group {
  font-weight: 300;
  font-size: 1.4rem;
  padding-top: 30px;
  padding-bottom: 15px;
}

.animal {
  font-weight: 300;
  font-size: 1.15rem;
  padding: 10px;
}

.animal:hover{
  color: var(--color-primary);
  cursor: pointer;
}

.image-container {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  /* margin: auto; */
  overflow: hidden;
  width: 300px;

}

.image {
  height: 100%;
  object-fit: contain;
  width: auto;
}

.container {
  padding: 0.5rem 1rem;
  display: none;
}

.box {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 1rem;
}

.box h2,
p,
h4 {
  padding: 0.5rem 0rem;
  font-size: 1rem;
}

.button {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  color: var(--color-background);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.show ,.open {
  display: block;
}

.welcome-message {
  color: var(--color-background);
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}

@media (min-width:769px) {

  .box h2,
  p,
  h4 {
    font-size: 1.2rem;
  }

}