/*HOMEPAGE RELATED CSS*/
.active {
  font-weight: 700;
}

.group {
  font-weight: 700;
  font-size: 1.2rem;
}

.animal {
  list-style-type: none;
  margin: 0.5rem 0;
  margin-left: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
.image-container{
 height: 300px;
 width: 300px;
 /* margin: auto; */

}
.image{
  width:auto;
  height:100%;
  object-fit: cover;
}

.container{
  padding: 0.5rem 1rem;
  display: none;
}

.box {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 1rem;
}

.box h2 ,p ,h4{
  padding: 0.5rem 0rem;
}

.box button{
 border: 1px solid var(--color-secondary);
 border-radius: 10px;
 color: var(--color-background);
 background-color: var(--color-secondary);
 padding: 0.5rem 1rem;
}

.show{
  display: block;
}

.welcome-message{
  color: var(--color-background);
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}