:root {
    --color-primary: #e29300;
    --color-secondary: #2d451b;
    --color-background: #eee9dd;
    --color-text: #210e08;
}

* {
    box-sizing: border-box;
}

/* Intro text */
.intro-text {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0;
}
.intro_subtitle {
    margin-top: 10px;
}

/* Sidebar */
.sidebar {
  width: 100%;
  background-color: var(--color-secondary);
  min-height: 300px;
  max-width: 320px;
  color: var(--color-background);
}

.sidebar_title {
    font-weight: 300;
    font-size: 1.4rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.sidebar-names {
    font-weight: 300;
    font-size: 1.15rem;
    padding: 10px;
}
.sidebar-names:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.sidebar-names.active {
    color: var(--color-primary);
    font-weight: 400;
}

/* Animal content */
.animal-content {
    display: none;
    padding: 15px 0;
    max-width: 1000px;
}

.animal-content.active {
    display: block;
}

.animal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.animal-img {
    width: 70%;
    max-width: 650px;
    height: auto;
    padding: 18px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.animal-img.zoomed {
    transform: scale(1.3);
}

.animal-description {
    padding-bottom: 15px;
}

.extra-info {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 10px;
}

.toggle-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* Responsive adjustments */
@media (max-width: 769px) {
    .animal-img {
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
        display: block;
    }
    .animal-title {
        font-size: 1.4rem;
    }

    .animal-description, .extra-info {
        font-size: 0.9rem;
    }

    .toggle-btn {
        width: 100%;
        margin: 10px 0;
    }

    .intro-text {
        font-size: 1.2rem;
    }

    .intro_subtitle {
        font-size: 0.95rem;
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sidebar-names {
        flex: 1 1 100%;
        text-align: center;
        margin: 5px 0;
        padding: 8px 12px;
    }
}