/* Intro text */
.intro-text {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0;
}
.intro_subtitle {
    margin-top: 10px;
}
.sidebar_title {
    font-weight: 300;
    font-size: 1.4rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.sidebar-names {
    font-weight: 300;
    font-size: 1.15rem;
    padding: 10px;
}
.sidebar-names:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.sidebar-names.active {
    color: var(--color-primary);
    font-weight: 400;
}
/* ===== ANIMAL CONTENT ===== */
.animal-content {
    display: none;
    padding: 15px 0;
    max-width: 1000px;
}

.animal-content.active {
    display: block;
}

.animal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.animal-img {
    width: 70%;
    max-width: 650px;
    height: auto;
    padding: 18px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.animal-img.zoomed {
    transform: scale(1.3);
}

.animal-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.extra-info {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 10px;
}

/* ===== BUTTON ===== */
.toggle-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

/* ===== CLEARFIX ===== */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.animal-img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.animal-img.zoomed {
    transform: scale(2);
}


.open{
  display: block;
}

/* RESPONSIVE  */

@media (max-width: 669px) {
    .mammal_Container {
        margin-left: 0;
        padding: 10px;
    }
    .intro_subtitle 
{
    margin-top: 5px;
}

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sidebar-names {
        margin: 5px;
        padding: 8px 12px;
        flex: 1 1 100%;
        text-align: center;
    }

    .animal-content {
        margin-left: 0;
    }

    .animal-img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 10px auto;
    }

    .toggle-btn {
        display: block;
        width: fit-content;
        margin: 10px 0;
    }

    .animal-title {
        font-size: 1.4rem;
    }

    .animal-description, .extra-info {
        font-size: 14px;
    }

    .intro-text {
        font-size: 1.2rem;
    }

    .intro_subtitle {
        font-size: 0.95rem;
    }
    .sidebar-names {
        flex: 1 1 100%;
        text-align: center;
        margin: 5px 0;
        padding: 8px 12px;
    }
}