/* Intro text */
.intro-text {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro_subtitle {
  font-size: 0.95rem;
  padding: 15px 0;
}

/* .sidebar_title {
  font-weight: 300;
  font-size: 1.4rem;
  padding-top: 30px;
  padding-bottom: 15px;
} */

/* .sidebar-names {
  font-weight: 300;
  font-size: 1.15rem;
  padding: 10px;
}

.sidebar-names:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.sidebar-names.active {
  color: var(--color-primary);
  font-weight: 400;
} */

/* Animal content */
.animal-content {
  display: none;
  padding: 15px 0;
  max-width: 1000px;
}

.animal-content.active {
  display: block;
}

.animal-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 0px;
}

.animal-img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.animal-img.zoomed {
  transform: scale(1.3);
}

.animal-description {
  font-size: 0.9rem;
  padding-bottom: 15px;
}

.extra-info{
  font-size: 0.9rem;
  padding: 10px;
}

br{
  display: block;
  margin-bottom: 15px;
  content: "";
}

.toggle-btn {
  display: inline-block;
  /* width: 100%; */
  /* margin-top: 10px 0;
  padding: 10px 20px;
  font-size: 0.95rem;
  background-color: var(--color-secondary);
  color: var(--color-background);
  border: none;
  cursor: pointer; */
  transition: 0.2s;
}

/* Responsive adjustments */
@media (min-width: 769px) {
  .animal-img {
    width: 70%;
    max-width: 650px;
    height: auto;
    padding: 18px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  /* .animal-title {
    font-size: 1.8rem;
  } */

  /* .toggle-btn {
    margin: 10px;
  } */
}