.sidebar-heading,
.sidebar-names {
    color: white;
    margin: 5px 0;
    padding: 4px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.sidebar-heading {
    font-size: 2rem;
}

.sidebar-names {
    font-size: 1.5rem;
}

.sidebar-names.active,
.sidebar-heading.active {
    background-color: rgb(24, 221, 50);
    color: black;
    font-weight: bold;
}