/* SIDEBAR */
/* .sidebar-heading {
    font-weight: 300;
    font-size: 1.4rem;
    padding-top: 30px;
    padding-bottom: 15px;
    color: var(--color-background);
}

.sidebar-names {
    font-weight: 300;
    font-size: 1.15rem;
    padding: 10px;
    cursor: pointer;
    color: var(--color-background);
}

.sidebar-names:hover {
    color: var(--color-primary);
}

.sidebar-names.active,
.sidebar-heading.active {
    font-weight: 400;
    color: var(--color-primary);
} */

/* MAIN CONTENT */
.content {
  /* flex: 1;
    padding: 20px;
    overflow-y: auto; */
  background: none;
  background-color: var(--color-background);
}

.intro-content {
  display: none;
  padding: 20px 0;
}

.intro-content.active {
  display: block;
}

.intro-content h2 {
  padding: 15px 0;
  color: var(--color-text);
}

.intro-content p {
  max-width: 1000px;
  padding: 15px 0;
  color: var(--color-text);
}

.animal-content {
  display: none;
  flex-direction: column;
}

.animal-content.active {
  display: flex;
}

.animal-content h2 {
  padding: 15px 0;
  color: var(--color-text);
}

.animal-content .image-desc-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.animal-content img {
  width: 70%;
  max-width: 650px;
  height: auto;
  padding: 18px 0;
  object-fit: cover;
}

.animal-content p.description {
  max-width: 1000px;
  color: var(--color-text);
  padding: 10px 0 20px 0;
  text-align: left;
}

/* READ MORE CONTENT */
.read-more {
  /* background-color: var(--color-secondary);
    color: var(--color-background);
    padding: 10px 20px;
    border: none;
    cursor: pointer; */
  width: fit-content;
  display: inline-block;
  /* margin-top: 20px;
    font-size: 0.95rem; */
}

.additional-info {
  display: none;
  margin-top: 15px;
}

.additional-info.active {
  display: block;
}

.additional-info p {
  color: var(--color-text);
  padding: 10px 0;
}